html
  head
    style
      include ../public/stylesheets/index.css
body
  div#menu
    div#button
      a(href="/download/yourtitle") Download file
    div#button
      a(href="/register") Registration
    div#button
      a(href="/forgot") Forgot phone?
